.contact > * {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem 1rem 10rem; 
}

.contact > form > * {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}