
.Footer--holder{
    background-color: var(--dark-grey);
    display: block;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
    left: 0;
    bottom: 0;
    right:0;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 100%;
}