/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 25vw;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 10vh auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  outline: none;
}

.close--button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  overflow: hidden;
}

.close--button--img{
  width: 2rem;
}

.login--form--container{
  text-align: center;
}

.loginmodal-container h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.loginmodal {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  border-radius: 3px; 
  user-select: none;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  margin-top: 1rem;
  font-size: 12px;
}

