.Makebooking-container{
  display: flex;
  justify-content: center; 
  height: 95vh;
}

.Makebooking {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    width: 60vw;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
} 

.Makebooking--header{
    padding: 2rem;
}

.Makebooking--headertitle{
    font-weight: 700;
    font-size: 2rem;
}

.Makebooking--headername{
    font-weight: 400;
}

.Makebooking--whatDate {
    padding: .5rem;
    line-height: 2rem;
} 

.Makebooking--datePicker{
    width: 20vw;
    text-align: center;
}

.Makebooking--whatTime {
    padding: 2rem;
    border: none;
    line-height: 2rem;
} 

.Makebooking--timePicker{
    width: 10vw;
    text-align: center;
}

.Makebooking--note{
    text-align: center;
}

.Makebooking--buttonholder{
    text-align: center;
}

.Makebooking--button {
    background: transparent;
    border: none;
    margin: .5rem auto 0;
    display: block;
    font-size: 1.3rem;
    outline: none;
    position: relative;
    transition: 0.3s;
    padding: 1rem;
    color: grey;
    cursor: pointer;
  }

  .Makebooking--button:before {
    content: '';
    border-bottom: 3px solid yellow;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
   }

  .Makebooking--button:hover:before {
    width: 100%;
    padding: 0;
  }
  .Makebooking--button:active {
    transition: none;
  }
  
  .react-datepicker-popper {
    z-index: 1000000;
  }