.Map{
    max-width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white;
    font-size: 1.5rem;
    line-height: 2rem;
}

.Map--frame {
    max-width:100%;
    max-height:100%;
}

.Map--frame > * {
    padding: 1rem;
}

.Map--info{
    max-width:100%;
    max-height:100%;
}

.Map--Icon{
    max-width: 2rem;
    margin-bottom: 0;
    padding: 0.5rem 0.5rem  0 0;
}

.Map > * {
    padding: 1rem;
}