.testimonies--holder{
    height: 38vh;
    width: 100vw;
}

.testimonies--title{
    color: var(--grey-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
    color: white;
    max-width: 35vw;
    height: 37vh;
    background-color: #282727;
    margin: 1rem;
    text-align: center;
    border: 1px solid black;
    opacity: 0.8;
    transition: 0.5s;
}

.card:hover{
    color: black;
    cursor: pointer;
    background-color: yellow;
}

.testimonie--image{
    margin: 1rem;
    max-width: 30vw; 
    max-height: 17vw;
}

.tesimonie--description{
    font-size: 1rem;
    width: 100%; 
    text-align: center;
    font-style: italic;
}

.tesimonie--author{
    color: var(--grey-color);
}