@import 'index.css';

@import './components/about.css'; 
@import './components/contact.css'; 
@import './components/footer.css';
@import './components/home-page.css'; 
@import './components/register.css'; 
@import './components/login.css'; 
@import './components/nav.css';
@import './components/makebooking.css';
@import './components/loading.css';
@import './components/map.css';
@import './components/not-found-page.css'; 
@import './components/profile.css'; 
@import './components/allcontacts.css'; 
@import './components/testimonies.css'; 

:root {
    --grey-color: #c4c4c4;
    --dark-grey: #5C5C5C;
    --aqua-color: #62c4c4; 
    --red-color: #FF8F8F;
}

/* add more plz */